In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import warnings

In [2]:
# Read File 
file_path = Path("Resources/Data/news-jl.csv")
news_df = pd.read_csv(file_path, header=0, encoding='utf-8')
# Display sample data
news_df.head(10)

,id,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL
5,6903,"Tehran, USA","\nI’m not an immigrant, but my grandparents ...",FAKE
6,7341,Girl Horrified At What She Watches Boyfriend D...,"Share This Baylee Luciani (left), Screenshot o...",FAKE
7,95,‘Britain’s Schindler’ Dies at 106,A Czech stockbroker who saved more than 650 Je...,REAL
8,4869,Fact check: Trump and Clinton at the 'commande...,Hillary Clinton and Donald Trump made some ina...,REAL
9,2909,Iran reportedly makes new push for uranium con...,Iranian negotiators reportedly have made a las...,REAL

## Step 1 - Clean the data

In [3]:
#check count of all rows 
news_df.describe()

,id,title,text,label
count,7576,7185,6929,6755
unique,7531,7085,6644,437
top,#NAME?,OnPolitics | 's politics blog,"Killing Obama administration rules, dismantlin...",REAL
freq,16,5,58,3161

In [4]:
#drop NAs from all rows
news_df = news_df.dropna()

In [5]:
news_df.head()

,id,title,text,label
0,8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [6]:
#recheck all rows
news_df.describe()

,id,title,text,label
count,6754,6754,6754,6754
unique,6736,6667,6472,436
top,#NAME?,OnPolitics | 's politics blog,"Killing Obama administration rules, dismantlin...",REAL
freq,9,5,58,3161

In [7]:
#see datatype
news_df.dtypes

id       object
title    object
text     object
label    object
dtype: object

In [8]:
# Changing the data type of 'id' to float

news_df['id'] = pd.to_numeric(news_df['id'], errors='coerce')

# Using .loc to modify the 'id' column
# news_df_cleaned.loc[:, 'id'] = pd.to_numeric(news_df_cleaned['id'], errors='coerce')

In [9]:
news_df.dtypes

id       float64
title     object
text      object
label     object
dtype: object

In [10]:
# Changing the data type of 'title' 'text' 'label' to string

news_df['title'] = news_df['title'].astype(str)
news_df['text'] = news_df['text'].astype(str)
news_df['label'] = news_df['label'].astype(str)

In [11]:
news_df = news_df.astype(dtype={'title': 'string', 'text': 'string', 'label': 'string'})

In [12]:
news_df.head()

,id,title,text,label
0,8476.0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,10294.0,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,3608.0,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,10142.0,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,875.0,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [13]:
news_df.dtypes

id       float64
title     string
text      string
label     string
dtype: object

In [14]:
#drop the id column 
filter_df = news_df.loc[:,["title", "text", "label"]]
filter_df.head()

,title,text,label
0,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
1,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
2,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
3,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
4,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

## Step 2 - Get the columns that we need by transforming the columns

In [15]:
### NOT NEEDED

# import re

# # clean the puncation such as periods and commas 
# filter_df['title'] = filter_df['title'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\']', ' ', str(x)))
# filter_df['text'] = filter_df['text'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\']', ' ', str(x)))

# filter_df.head()

In [16]:
# Splitting the 'TextColumn' for each row based on whitespace
filter_df['title_array'] = filter_df['title'].apply(lambda x: x.split())
filter_df['text_array'] = filter_df['text'].apply(lambda x: x.split())

#only grab the label and the new array columns
transform_array_df = filter_df[['label', 'title_array', 'text_array']]

transform_array_df.head()

,label,title_array,text_array
0,FAKE,"[You, Can, Smell, Hillary’s, Fear]","[Daniel, Greenfield,, a, Shillman, Journalism,..."
1,FAKE,"[Watch, The, Exact, Moment, Paul, Ryan, Commit...","[Google, Pinterest, Digg, Linkedin, Reddit, St..."
2,REAL,"[Kerry, to, go, to, Paris, in, gesture, of, sy...","[U.S., Secretary, of, State, John, F., Kerry, ..."
3,FAKE,"[Bernie, supporters, on, Twitter, erupt, in, a...","[—, Kaydee, King, (@KaydeeKing), November, 9,,..."
4,REAL,"[The, Battle, of, New, York:, Why, This, Prima...","[It's, primary, day, in, New, York, and, front..."

In [17]:
#join array together 

join_array_df = transform_array_df.loc[:,["label"]]

# Combine the arrays from both columns into a single array
join_array_df['combo_array'] = transform_array_df.apply(lambda row: np.concatenate([row['title_array'], row['text_array']]), axis=1)


join_array_df.head()

  label                                        combo_array
0  FAKE  [You, Can, Smell, Hillary’s, Fear, Daniel, Gre...
1  FAKE  [Watch, The, Exact, Moment, Paul, Ryan, Commit...
2  REAL  [Kerry, to, go, to, Paris, in, gesture, of, sy...
3  FAKE  [Bernie, supporters, on, Twitter, erupt, in, a...
4  REAL  [The, Battle, of, New, York:, Why, This, Prima...

### Title and Label Columns ONLY

In [18]:
#expand only the title array into new columns 
title_expand_array_df = transform_array_df.loc[:,["label"]]

# Create new columns for each element in the arrays
title_array_columns = transform_array_df['title_array'].apply(lambda x: pd.Series(x, dtype='string'))

# Concatenate the new columns with the original DataFrame
title_expand_array_df = pd.concat([title_expand_array_df, title_array_columns], axis=1)

#fill in na to "none"
title_expand_array_df = title_expand_array_df.fillna("NA")


title_expand_array_df.head()

,label,0,1,2,3,4,5,6,7,8,...,123,124,125,126,127,128,129,130,131,132
0,FAKE,You,Can,Smell,Hillary’s,Fear,NA,NA,NA,NA,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,FAKE,Watch,The,Exact,Moment,Paul,Ryan,Committed,Political,Suicide,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
2,REAL,Kerry,to,go,to,Paris,in,gesture,of,sympathy,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,FAKE,Bernie,supporters,on,Twitter,erupt,in,anger,against,the,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,REAL,The,Battle,of,New,York:,Why,This,Primary,Matters,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

In [19]:
title_expand_array_df.dtypes

label    string
0        object
1        object
2        object
3        object
          ...
128      object
129      object
130      object
131      object
132      object
Length: 134, dtype: object

In [20]:
#should we drop duplicate words?

### Text and Label Columns ONLY

In [21]:
#expand only the title array into new columns 
text_expand_array_df = transform_array_df.loc[:,["label"]]

# Create new columns for each element in the arrays
text_array_columns = transform_array_df['text_array'].apply(lambda x: pd.Series(x, dtype='string'))

# Concatenate the new columns with the original DataFrame
text_expand_array_df = pd.concat([text_expand_array_df, text_array_columns], axis=1)

#fill in na to "none"
text_expand_array_df = text_expand_array_df.fillna("NA")

text_expand_array_df.head()

,label,0,1,2,3,4,5,6,7,8,...,5510,5511,5512,5513,5514,5515,5516,5517,5518,5519
0,FAKE,Daniel,"Greenfield,",a,Shillman,Journalism,Fellow,at,the,Freedom,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,FAKE,Google,Pinterest,Digg,Linkedin,Reddit,Stumbleupon,Print,Delicious,Pocket,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
2,REAL,U.S.,Secretary,of,State,John,F.,Kerry,said,Monday,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
3,FAKE,—,Kaydee,King,(@KaydeeKing),November,"9,",2016,The,lesson,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
4,REAL,It's,primary,day,in,New,York,and,front-runners,Hillary,...,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA

### Combo(text and title) and Label Columns ONLY

In [22]:
#expand only the combo array into new columns 
combo_expand_array_df = join_array_df.loc[:,["label"]]

# Create new columns for each element in the arrays
combo_array_columns = join_array_df['combo_array'].apply(lambda x: pd.Series(x, dtype='string'))

# Concatenate the new columns with the original DataFrame
combo_expand_array_df = pd.concat([combo_expand_array_df, combo_array_columns], axis=1)

#fill in na to "none"
combo_expand_array_df = combo_expand_array_df.fillna("")

combo_expand_array_df.head()

,label,0,1,2,3,4,5,6,7,8,...,5516,5517,5518,5519,5520,5521,5522,5523,5524,5525
0,FAKE,You,Can,Smell,Hillary’s,Fear,Daniel,"Greenfield,",a,Shillman,...,,,,,,,,,,
1,FAKE,Watch,The,Exact,Moment,Paul,Ryan,Committed,Political,Suicide,...,,,,,,,,,,
2,REAL,Kerry,to,go,to,Paris,in,gesture,of,sympathy,...,,,,,,,,,,
3,FAKE,Bernie,supporters,on,Twitter,erupt,in,anger,against,the,...,,,,,,,,,,
4,REAL,The,Battle,of,New,York:,Why,This,Primary,Matters,...,,,,,,,,,,

## Step 2 - prep data to be trained

In [23]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split


# Drop 'label' column for X and assign 'label' column to y
X = title_expand_array_df.drop('label', axis=1)
y = title_expand_array_df['label']

# Create a column transformer with a pipeline for one-hot encoding each column
transformers = []

for i in range(len(X.columns)):
    transformers.append((str(i), Pipeline([('onehot', OneHotEncoder())]), [i]))

ct = ColumnTransformer(transformers=transformers, remainder='passthrough')

# Fit and transform X
X_transformed = ct.fit_transform(X)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size=1/3, random_state=0)

In [24]:
print(X)

             0           1      2          3          4       5          6    \
0            You         Can  Smell  Hillary’s       Fear      NA         NA
1          Watch         The  Exact     Moment       Paul    Ryan  Committed
2          Kerry          to     go         to      Paris      in    gesture
3         Bernie  supporters     on    Twitter      erupt      in      anger
4            The      Battle     of        New      York:     Why       This
...          ...         ...    ...        ...        ...     ...        ...
7859       State  Department   says         it      can't    find     emails
7860         The         ‘P’     in        PBS     Should   Stand        for
7861  Anti-Trump  Protesters    Are      Tools         of     the  Oligarchy
7862          In   Ethiopia,  Obama      seeks   progress      on     peace,
7863         Jeb        Bush     Is   Suddenly  Attacking  Trump.     Here's

                7            8           9    ... 123 124 125 126 127 128 129  \
0                NA           NA          NA  ...  NA  NA  NA  NA  NA  NA  NA
1         Political      Suicide          At  ...  NA  NA  NA  NA  NA  NA  NA
2                of     sympathy          NA  ...  NA  NA  NA  NA  NA  NA  NA
3           against          the        DNC:  ...  NA  NA  NA  NA  NA  NA  NA
4           Primary      Matters          NA  ...  NA  NA  NA  NA  NA  NA  NA
...             ...          ...         ...  ...  ..  ..  ..  ..  ..  ..  ..
7859           from      Clinton          IT  ...  NA  NA  NA  NA  NA  NA  NA
7860  ‘Plutocratic’           or  ‘Pentagon’  ...  NA  NA  NA  NA  NA  NA  NA
7861              :  Information          NA  ...  NA  NA  NA  NA  NA  NA  NA
7862       security           in        East  ...  NA  NA  NA  NA  NA  NA  NA
7863            Why         That     Matters  ...  NA  NA  NA  NA  NA  NA  NA

     130 131 132
0     NA  NA  NA
1     NA  NA  NA
2     NA  NA  NA
3     NA  NA  NA
4     NA  NA  NA
...   ..  ..  ..
7859  NA  NA  NA
7860  NA  NA  NA
7861  NA  NA  NA
7862  NA  NA  NA
7863  NA  NA  NA

[6754 rows x 133 columns]

In [25]:
print(y)

0       FAKE
1       FAKE
2       REAL
3       FAKE
4       REAL
        ...
7859    REAL
7860    FAKE
7861    FAKE
7862    REAL
7863    REAL
Name: label, Length: 6754, dtype: string

### Feature Scaling

In [26]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler(with_mean=False)
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [27]:
print(X_train)

  (0, 820)	12.291190954278514
  (0, 4799)	47.45524675359347
  (0, 8729)	67.1043979346574
  (0, 11758)	8.720483975240102
  (0, 15325)	67.1043979346574
  (0, 19061)	67.1043979346574
  (0, 21528)	67.1043979346574
  (0, 24715)	67.1043979346574
  (0, 25916)	2.1280308389330576
  (0, 28278)	2.0144356339654776
  (0, 30299)	2.0107078405523384
  (0, 31964)	2.0952547861933746
  (0, 33390)	2.275109678051202
  (0, 34467)	2.5077620169801493
  (0, 35302)	2.821887335148427
  (0, 35915)	3.1498078595376175
  (0, 36407)	3.5386870952065816
  (0, 36784)	3.9851757755759807
  (0, 37091)	4.442640815819798
  (0, 37345)	5.011806411463732
  (0, 37534)	5.484598259226446
  (0, 37719)	6.016738221971511
  (0, 37856)	6.448553135261412
  (0, 37972)	7.264078192451233
  (0, 38081)	7.917557398126088
  :	:
  (4501, 39495)	67.10439793465738
  (4501, 39497)	67.10439793465738
  (4501, 39499)	67.10439793465738
  (4501, 39501)	67.10439793465738
  (4501, 39503)	67.10439793465738
  (4501, 39505)	67.10439793465738
  (4501, 39507)	67.10439793465738
  (4501, 39509)	67.10439793465738
  (4501, 39511)	67.10439793465738
  (4501, 39513)	67.10439793465738
  (4501, 39515)	67.10439793465738
  (4501, 39517)	67.10439793465738
  (4501, 39519)	67.10439793465738
  (4501, 39521)	67.10439793465738
  (4501, 39523)	67.10439793465738
  (4501, 39526)	67.10439793465738
  (4501, 39527)	67.10439793465738
  (4501, 39529)	67.10439793465738
  (4501, 39531)	67.10439793465738
  (4501, 39533)	67.10439793465738
  (4501, 39535)	67.10439793465738
  (4501, 39537)	67.10439793465738
  (4501, 39539)	67.10439793465738
  (4501, 39541)	67.10439793465738
  (4501, 39543)	67.10439793465738

In [28]:
print(X_test)

  (0, 1917)	4.486824303487875
  (0, 3106)	33.56338614151031
  (0, 6202)	67.1043979346574
  (0, 9445)	47.45524675359347
  (0, 13649)	1.0
  (0, 17871)	11.550730469309633
  (0, 19597)	67.1043979346574
  (0, 23651)	67.1043979346574
  (0, 26572)	18.636270771686426
  (0, 28082)	15.036770341187594
  (0, 29919)	1.0
  (0, 31964)	2.0952547861933746
  (0, 33390)	2.275109678051202
  (0, 34467)	2.5077620169801493
  (0, 35302)	2.821887335148427
  (0, 35915)	3.1498078595376175
  (0, 36407)	3.5386870952065816
  (0, 36784)	3.9851757755759807
  (0, 37091)	4.442640815819798
  (0, 37345)	5.011806411463732
  (0, 37534)	5.484598259226446
  (0, 37719)	6.016738221971511
  (0, 37856)	6.448553135261412
  (0, 37972)	7.264078192451233
  (0, 38081)	7.917557398126088
  :	:
  (2251, 39495)	67.10439793465738
  (2251, 39497)	67.10439793465738
  (2251, 39499)	67.10439793465738
  (2251, 39501)	67.10439793465738
  (2251, 39503)	67.10439793465738
  (2251, 39505)	67.10439793465738
  (2251, 39507)	67.10439793465738
  (2251, 39509)	67.10439793465738
  (2251, 39511)	67.10439793465738
  (2251, 39513)	67.10439793465738
  (2251, 39515)	67.10439793465738
  (2251, 39517)	67.10439793465738
  (2251, 39519)	67.10439793465738
  (2251, 39521)	67.10439793465738
  (2251, 39523)	67.10439793465738
  (2251, 39526)	67.10439793465738
  (2251, 39527)	67.10439793465738
  (2251, 39529)	67.10439793465738
  (2251, 39531)	67.10439793465738
  (2251, 39533)	67.10439793465738
  (2251, 39535)	67.10439793465738
  (2251, 39537)	67.10439793465738
  (2251, 39539)	67.10439793465738
  (2251, 39541)	67.10439793465738
  (2251, 39543)	67.10439793465738

### Training the Logistic Regression model on the Training set

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=1000, random_state = 0)
classifier.fit(X_train, y_train)

### Predicting the Test set results

In [ ]:
# Make predictions on the test set
y_pred = model.predict(X_test)

### Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

### Visualising the Training set results

### Visualising the Test set results